main{
    padding: 2vh;
}

section:first-child{
    justify-content: start;
    gap: 0vh;
}

section{    
    padding: 2vh;
    justify-content: space-evenly;
    gap: 1vh;
}

.card-body i {
    text-align: center;
    border: 1px red solid;  
}